*{
	margin: 0;
	padding: 0
	;
}
body{
	background: #e3edf7;
}
h1{
	font-family: sans-serif;
	font-weight: normal;
	font-size: 25px;
	letter-spacing: 4px;
	padding: 200px 0 100px;
	color: #555;
	text-align: center;
}
 .social-media{
	display: flex;
	justify-content: center;

}
a{
	display: flex;
	background: #e3edf7;
	height: 75px;
	width: 75px;
	margin: 0 15px;
	border-radius: 8px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.5),  
	             -6px -6px 10px -1px rgba(255,255,255,0.7);
	border: 1px solid rgba(0,0,0,0);
	transition: transform 0.5s;               

}

a i{
	font-size: 35px;
	color: #777;
	transition: transform 0.5s;
}
a:hover{
	box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
	            inset -4px -4px 6px -1px rgba(255,255,255,0.7),
	            -0.5px -0.5px 0px rgba(255,255,255,1),
	            0.5px 0.5px 0px rgba(0,0,0,0.15),
	            0px 12px 10px -10px rgba(0,0,0,0.05);
	            border: 1px solid rgba(0,0,0,0.01);
	            transform: translateY2px);
}
a:hover i{
	transform: scale(0.90);
}
a:hover .fa-facebook{
	color: #3b5998;
}
a:hover .fa-youtube{
	color: #c4302b ;
}
a:hover .fa-whatsapp{
	color: #4FCE5D;
}
a:hover .fa-twitter{
	color: #00acee;
}
a:hover .fa-instagram{
	color: #f14843;
}
h3{
	color: red;
}
.text{
	position: absolute;
	bottom:-1%;
	left:50%;
	transform: translate(-50%,-50%)
}
ul{
	padding:0;
	margin:0;
	list-style: none;
	display: flex; 
letter-spacing: 10px;
}
ul li{
	font-size: 1em;
	letter-spacing: 5px;
	text-shadow: 1px 5px 10px #000042;
}
ul li:nth-child(1){
	color: #456690;
	letter-spacing: 2px;
	margin-right: 5px;

}
ul li:nth-child(2){
	color: #0CD2D2;
		letter-spacing: 1px;
		margin-right: 3px;
}

ul li:nth-child(3){
	color: #FF5733;
		letter-spacing: 1px;
		margin-right: 5px;
}